@mixin btn($color: #e2e2e2) {
  background-color: $color;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: $base-padding;
  border-radius: $base-border-radius ;
}

.btn {
  @include btn;
}

@each $key, $val in $colors {
  .btn-#{$key} {
    @include btn($val);
    
    &:hover{
        background-color: lighten($val, 5)
    }
  }

  .btn-hover-#{$key}{
      &:hover{
        background-color: $val !important;
      }
  }

  .btn-border-#{$key} {
    @include btn(#fff);
    border: $base-border-thick solid $val;
    &:hover{
        background-color: $val;
    }
  }

  .btn-complement-#{$key}{
    @include btn($val);
    color: light-comp($val);

    &:hover{
      color: $val;
      background-color: light-comp($val);
    }
  }
}
